<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deemwar.apps.ticketdiary" >


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.deemwar.apps.ticketdiary.controller.AppController"
        >
        <activity
            android:name="com.deemwar.apps.ticketdiary.activity.IndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.deemwar.apps.ticketdiary.activity.TrainDetailActivity"
            android:label="@string/title_train_activity_detail" >
        </activity>
        <activity
            android:name="com.deemwar.apps.ticketdiary.activity.MovieDetailActivity"
            android:label="@string/title_movie_activity_detail" >
        </activity>
        <activity
            android:name="com.deemwar.apps.ticketdiary.activity.BusDetailActivity"
            android:label="@string/title_bus_activity_detail" >
        </activity>


    </application>


    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>
